body {
    overflow-x: hidden;

    width: 100vw;
    min-height: 100vh;

    background: linear-gradient(0deg, #073259, #040721);

    color: #f7f7f7;
    text-shadow: #ffffffe3 0px 0px 1px;
    font-family: monospace;
    font-size: 1.2em;
}

/*===============COLOR CLASS=============*/
.intColor{
    color: #8181ff;
}.booleanColor{
    color: #ff8181;
}.stringColor{
    color: #b0ff81;
}
/*===============BASIC CLASS=============*/
hr {
    background: white;
    height: 1px;
    width: 100%;
}
details{
    margin-block: 30px;
    width: 100%;
}
summary{
    font-size: 2em;
    color: #ade4ff;
    cursor: pointer;
}
pre {
    background: #393939;
    border: #575757 1px solid;
    padding: 10px;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
    color: antiquewhite;
    position: relative;
    text-shadow: none;

    word-wrap: break-word;
    white-space: pre-wrap;

}
kbd{
    background: #13314b;
    padding: 7px 14px;
    box-sizing: border-box;
    border-radius: 5px;
    border: #184267 2px solid;
    margin-inline: 25px;
}
/*=======================================*/
.container {
    width: 100%;
    height: 100%;

    padding: 130px;
    box-sizing: border-box;
}

.categoryContainer {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
}

.routeContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.route {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 49%;
    padding: 114px 60px;
    box-sizing: border-box;
}

.route .name {
    display: flex;
    flex-direction: row;
    align-items: center;

    color: #ade4ff;
    font-weight: bold;
    font-size: 1.3em;
}
.route .json{
    position: absolute;

    font-size: 15px;
    top: 10px;
    right: 10px;


    color: #756c6c;
    text-shadow: #1a1a1a 0px 0px 10px;
}
.route .json {
}